h3 {
    color: #9c0909;
}

.gray {
   background-color: #a7a6a7;
}

.green {
    background-color: #109332;
}

.yellow {
    background-color: #d1cd11;
}

.red {
   background-color: #a7042d;
}

.row {
    margin-top: 3%
}

img {
    width: 20%;
}