{% extends "base.html" %}

{% block content %}
    {% set prof_list = ["инженер-исследователь", "пилот", "строитель", "экзобиолог", "врач", "инженер по терраформатированию", "климатолог", "метеоролог"] %}

    {% if type == "ol"%}
        <h2>Список профессий</h2>
        <ol>
            {% for prof in prof_list %}
                <li> {{ prof }} </li>
            {% endfor %}
        </ol>
    {% elif type == "ul" %}
        <h2>Список профессий</h2>
        {% for prof in prof_list %}
            <ul>
                <li> {{ prof }} </li>
            </ul>
        {% endfor %}
    {% else %}
        <h2>Передан неверный параметр!</h2>
    {% endif %}
{% endblock %}